<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <li><a href="{% url 'home' %}" >Home</a></li>
        <li><a href="{% url 'generate_qr' %}" >Generate QR</a></li>
        <li><a href="{% url 'scan_qr' %}" >Scan QR</a></li>
    </nav>
    <h1 class="main-heading">TS Petrol Pump Payment</h1>
    {% block content %}{% endblock content %}
</body>
</html>